@font-face {
  font-family: libre-franklin;
  src: url(https://ymath.io/Libre_Franklin/LibreFranklin-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: lato;
  src: url(https://ymath.io/Lato/Lato-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: dancing;
  src: url(https://ymath.io/Dancing_Script/static/DancingScript-Regular.ttf);
  font-weight: 100;
}
